org.knime.ext.textprocessing.assets/documentformat/sdml.dtd

<!--
    sdml.dtd
    author: Kilian Thiel, University of Konstanz
    
    This file contains the validation set of properties of the Simple Document Format (SDML).
    
	==================================================================
    This source code, its documentation and all appendant files
    are protected by copyright law. All rights reserved.
    
    Copyright by
    Universitaet Konstanz, Germany.
    Lehrstuhl fuer Angewandte Informatik
    Prof. Dr. Michael R. Berthold
    
    You may not modify, publish, transmit, transfer or sell, reproduce,
    create derivative works from, distribute, perform, display, or in 
    any way exploit any of the content, in whole or in part, except as 
    otherwise expressly permitted in writing by the copyright owner.
	==================================================================
-->

<!ELEMENT Documents (Document+)>
<!ELEMENT Document (Authors?,PublicationDate?,Title,Section+)>

<!ELEMENT Authors (Author*)>
<!ELEMENT Author (Firstname?, Lastname)>
<!ELEMENT Firstname (#PCDATA)>
<!ELEMENT Lastname (#PCDATA)>

<!ELEMENT PublicationDate (Day?, Month?, Year)>
<!ELEMENT Day (#PCDATA)>
<!ELEMENT Month (#PCDATA)>
<!ELEMENT Year (#PCDATA)>

<!ELEMENT Title (#PCDATA)>
<!ELEMENT Section (#PCDATA)>
<!ATTLIST Section annotation CDATA #REQUIRED>
